<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Karigars</title>
    <link rel="stylesheet" href="css/karigar.css" />
    <link rel="stylesheet" href="css/nav.css" />
    <link rel="stylesheet" href="css/footer.css"/>
    <link rel="stylesheet" href="css/internship.css"/>
    <link rel="stylesheet" href="css/button.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  </head>

  <body>

    <%- include("nav") -%>
    <% let len=0,c1=0,c2=0,c3=0,c4=0,c5=0; %> 
    <% if(newListItems !== undefined ) { len = newListItems.length; } %>
  
        <h2 class="h-primary clss centerr disp1" id="pricing-heading">Construction</h2>
        <!--cards -->
        <div class="main1"> 
         
          <%  for(var i=0;i<len;i++){  %>
          <%  if(newListItems[i].category==="Construction") { c1++;%>
          <div class="card">
      
          <div class="image">
            <img src="<%= newListItems[i].url %>">
          </div>
          <div class="title">
            <h1><%= newListItems[i].title %></h1>
          </div>

          <div class="title">
            <p>Name : <%= newListItems[i].fname + newListItems[i].lname %></p>
            <p>Location : <%= newListItems[i].city%>/<%= newListItems[i].state %></p>
            <p>Skills : <%= newListItems[i].skill %></p>
            <p>Experience : <%= newListItems[i].exp %>+Years</p>
          </div>

          <div class="des">
            <div class="stars">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="far fa-star"></i>
            </div>
            <div class="price">₹<%= newListItems[i].price %>/day</div>
            <a href="/cart/<%=newListItems[i].email%>"><button class="click">Hire Now</button></a>
            </div>
            </div>
              <% }  %>
            <% }  %>
            <% if(c1==0){  %> 
              <script>document.querySelector(".disp1").style.display="none";</script>
              <% }%>
              <!--cards -->
              <br>
              <br>
          <!-----second section begins-->
        </div>
          <h2 class="h-primary clss centerr disp2" id="pricing-heading">Painter</h2>


          <div class="main2">
            <%  for(var i=0;i<len;i++){  %>
              <%  if(newListItems[i].category==="Painter") { c2++;%>
              <div class="card">
          
                <div class="image">
                  <img src="<%= newListItems[i].url %>">
                </div>
                <div class="title">
                  <h1><%= newListItems[i].title %></h1>
                </div>
      
                <div class="title">
                  <p>Name : <%= newListItems[i].fname + newListItems[i].lname %></p>
                  <p>Location : <%= newListItems[i].city%>/<%= newListItems[i].state %></p>
                  <p>Skills : <%= newListItems[i].skill %></p>
                  <p>Experience : <%= newListItems[i].exp %>+Years</p>
                </div>
    
              <div class="des">
                <div class="stars">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="far fa-star"></i>
                </div>
                <div class="price">₹<%= newListItems[i].price %>/day</div>
                <a href="/cart/<%=newListItems[i].email%>"><button class="click" >Hire Now</button></a>
                </div>
                </div>
                  <% }  %>
                <% }  %>
                <% if(c2==0){  %> 
                  <script>document.querySelector(".disp2").style.display="none";</script>
                  <% }%>
        </div>
          <br>
          <br>
          <h2 class="h-primary clss centerr disp3" id="pricing-heading">Plumber</h2>
          
          <div class="main3">
            <%  for(var i=0;i<len;i++){  %>
              <%  if(newListItems[i].category==="Plumber") { c3++;%>
              <div class="card">
          
                <div class="image">
                  <img src="<%= newListItems[i].url %>">
                </div>
                <div class="title">
                  <h1><%= newListItems[i].title %></h1>
                </div>
      
                <div class="title">
                  <p>Name : <%= newListItems[i].fname + newListItems[i].lname %></p>
                  <p>Location : <%= newListItems[i].city%>/<%= newListItems[i].state %></p>
                  <p>Skills : <%= newListItems[i].skill %></p>
                  <p>Experience : <%= newListItems[i].exp %>+Years</p>
                </div>
    
              <div class="des">
                <div class="stars">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="far fa-star"></i>
                </div>
                <div class="price">₹<%= newListItems[i].price %>/day</div>
                <a href="/cart/<%=newListItems[i].email%>"><button class="click" >Hire Now</button></a>
                </div>
                </div>
                  <% }  %>
                <% }  %>
                <% if(c3==0){  %> 
                  <script>document.querySelector(".disp3").style.display="none";</script>
                  <% }%>
          </div>
            <br>
            <br>

          <h2 class="h-primary clss centerr disp4" id="pricing-heading">Welder</h2>


          <div class="main4">
            <%  for(var i=0;i<len;i++){  %>
              <%  if(newListItems[i].category==="Welder") { c4++;%>
               <div class="card">
          
                <div class="image">
                  <img src="<%= newListItems[i].url %>">
                </div>
                <div class="title">
                  <h1><%= newListItems[i].title %></h1>
                </div>
      
                <div class="title">
                  <p>Name : <%= newListItems[i].fname + newListItems[i].lname %></p>
                  <p>Location : <%= newListItems[i].city%>/<%= newListItems[i].state %></p>
                  <p>Skills : <%= newListItems[i].skill %></p>
                  <p>Experience : <%= newListItems[i].exp %>+Years</p>
                </div>
    
              <div class="des">
                <div class="stars">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="far fa-star"></i>
                </div>
                <div class="price">₹<%= newListItems[i].price %>/day</div>
                <a href="/cart/<%=newListItems[i].email%>"><button class="click" >Hire Now</button></a>
                </div>
                </div>
                  <% }  %>
                <% }  %>
                <% if(c4==0){  %> 
                  <script>document.querySelector(".disp4").style.display="none";</script>
                  <% }%>
            </div>
          
      
<br>
<br>
         
        <h2 class="h-primary clss centerr disp5" id="pricing-heading">Plaster Worker</h2>

         <!--cards -->


         <div class="main5">
            <!--cards -->
            <%  for(var i=0;i<len;i++){  %>
              <%  if(newListItems[i].category==="Plaster_Worker") { c5++;%>
               <div class="card">
          
                <div class="image">
                  <img src="<%= newListItems[i].url %>">
                </div>
                <div class="title">
                  <h1><%= newListItems[i].title %></h1>
                </div>
      
                <div class="title">
                  <p>Name : <%= newListItems[i].fname + newListItems[i].lname %></p>
                  <p>Location : <%= newListItems[i].city%>/<%= newListItems[i].state %></p>
                  <p>Skills : <%= newListItems[i].skill %></p>
                  <p>Experience : <%= newListItems[i].exp %>+Years</p>
                </div>
    
              <div class="des">
                <div class="stars">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="far fa-star"></i>
                </div>
                <div class="price">₹<%= newListItems[i].price %>/day</div>
                <a href="/cart/<%=newListItems[i].email%>"><button class="click" >Hire Now</button></a>
                </div>
                </div>
                  <% }  %>
                <% }  %>
                <% if(c5==0){  %> 
                  <script>document.querySelector(".disp5").style.display="none";</script>
                  <% }%>
          </div>
    <!------- footer starts -------->
    <%- include("footer") -%>
    <!------- footer starts -------->



  </body>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  </html>
