<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/profile.css">
    <title>User Profile</title>
</head>
<body>
    <div class = "card-wrapper">
        <div class = "card">
          <!-- card left -->

          <!-- card right -->
          <div class = "product-content">
            <h2 class = "product-title">Account Details</h2>

      
            <div class = "product-detail">
              <h2>About Your Profile : </h2>
              
              <ul>
                <li>Name: <span><%= list.fname + list.lname%></span></li>
                <li>Title: <span><%= list.title %></span></li>
                <li>Category: <span><%= list.category %></span></li>
                <li>Gender: <span><%= list.gender %></span></li>
                <li>Skills: <span><%= list.skill %></span></li>
                <li>Qualificaion: <span><%= list.qualification %></span></li>
                <li>Experience: <span><%= list.exp %>+years</span></li>
                <li>Location: <span><%= list.city %>/<%= list.state %></span></li>
                <li>Email: <span><%= list.email %></span></li>
              </ul>
            </div>
      
            <div class = "purchase-info">
              <br>
              <a href="/"><button type = "button" class = "btn"> <- Back to Home Page</button></a>
            </div>
      
           
          </div>

          <div class = "product-imgs">
            <div class = "img-display">
              <div class = "img-showcase">
                <img src = "<%= list.url %>" alt = "shoe image">
               
              </div>
            </div>
          </div>



        </div>
      </div>
      <script src="style.js">
      </script>
</body>
</html>